* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 2em;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-image: url("images/background.jpg");
  color: #474747;
}

.stats {
  margin-right: 100px;
}

.board {
  align-self: center;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: center;
  max-width: 800px;
}

img {
  object-fit: cover;
  max-height: 100%;
  box-sizing: border-box;
  width: 100%;
  border: solid 10px white;
  border-radius: 10px;
  box-shadow: 7px 7px 20px black;
}

.hidden {
  filter: hue-rotate(110deg); //110
}

.hidden:hover {
  filter: hue-rotate(110deg) brightness(130%);
  cursor: pointer;
}
